# Python
*.pyc
*.pyo
__pycache__/

# Django
*.sqlite3
*.log
local_settings.py

# Vue.js
/frontend/app/node_modules/
/frontend/app/dist/
/frontend/app/.env.local
/frontend/app/.env.*.local
/frontend/app/.env.development.local
/frontend/app/.env.test.local
/frontend/app/.env.production.local

# macOS
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
